@using BB.BL.Domain.Playlists
@model Playlist

<table id="playlist-tracks">
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>Duration</th>
        <th>Artist</th>
    </tr>
    @{
        var counter = 1;
        foreach (PlaylistTrack track in Model.PlaylistTracks)
        {
            <tr class="track" data-id="@track.Track.TrackSource.TrackId" data-artist="@track.Track.Artist" data-title="@track.Track.Title" data-thumbnail="@track.Track.CoverArtUrl">
                <td>
                    @counter
                </td>
                <td>
                    <img class="albumart" src="@track.Track.CoverArtUrl" alt="album art"/>
                </td>
                <td class="tracktitle">
                    @track.Track.Title
                </td>
                <td>
                    thumbs
                </td>
                <td>
                    @TimeSpan.FromSeconds(track.Track.Duration).ToString().Replace("00:", "")
                </td>
                <td class="artist">
                    @track.Track.Artist
                </td>
            </tr>
            counter++;
        }
    }
</table>