@using BB.BL.Domain.Playlists
@model Playlist
<div class="title">
    <h1>History</h1>
    @if (Model.PlaylistTracks.Count > 1 | Model.PlaylistTracks.Count == 0)
    {
        <text>@Model.PlaylistTracks.Count tracks played</text>
    }
    else
    {
        <text>1 track played</text>
    }
</div>

<table id="playlist-tracks">
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>Duration</th>
        <th>Artist</th>
        <th>Album</th>
    </tr>
    @foreach (PlaylistTrack track in Model.PlaylistTracks)
    {
        <tr class="track">
            <td>
                @track.Id
            </td>
            <td>
                <img class="albumart" src="@track.Track.CoverArtUrl" alt="album art"/>
            </td>
            <td class="tracktitle">
                @track.Track.Title
            </td>
            <td>
                thumbs
            </td>
            <td>
                @TimeSpan.FromSeconds(track.Track.Duration).ToString().Replace("00:", "")
            </td>
            <td class="artist">
                @track.Track.Artist
            </td>
            <td>
                album
            </td>
        </tr>
    }
</table>