@using BB.BL.Domain.Playlists
@model BB.BL.Domain.Playlists.Playlist
<div class="title">
    <h1>Queue</h1>
    @if (Model.PlaylistTracks.Count > 1 | Model.PlaylistTracks.Count == 0)
    {
        <text>@Model.PlaylistTracks.Count tracks in queue</text>
    }
    else
    {
        <text>1 track in queue</text>
    }
</div>

<table id="playlist-tracks">
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th colspan="2">Votes</th>
        <th>Duration</th>
        <th>Artist</th>
        <th>Album</th>
    </tr>
    @{var countVotes = 0;}
    @foreach (PlaylistTrack track in Model.PlaylistTracks)
    {
        <tr class="track">
            <td>
                @track.Id
            </td>
            <td>
                <img class="albumart" src="@track.Track.CoverArtUrl" alt="album art"/>
            </td>
            <td class="tracktitle">
                @track.Track.Title
            </td>
            @{ 
                var thumbUpId = track.Id + " thumbUp";
                var thumbDownId = track.Id + " thumbDown";
                Vote vote = track.Votes.FirstOrDefault(v => v.User.Email == User.Identity.Name);
                if(vote == null)
                {
                    <td style="width:60px"><a onclick="addVote('@thumbUpId', '1', '@track.Id')" style="cursor: pointer; margin:0; padding:0;"><i id="@thumbUpId" class="material-icons grey400">thumb_up</i></a></td>
                    <td style="width:60px"><a onclick="addVote('@thumbDownId', '-1', '@track.Id')" style="cursor: pointer"><i id="@thumbDownId" class="material-icons grey400">thumb_down</i></a></td>
                }
                else
                {
                countVotes += 1;
                    if (vote.Score == 1)
                    {
                        <td style="width:10px"><i class="material-icons">thumb_up</i></td>
                        <td style="width:10px"><i class="material-icons grey400">thumb_down</i></td>
                    }
                    else {
                        <td style="width:10px"><i class="material-icons grey400">thumb_up</i></td>
                        <td style="width:10px"><i class="material-icons">thumb_down</i></td>
                    }
                     
                }
            }
            <td>
                @TimeSpan.FromSeconds(track.Track.Duration).ToString().Replace("00:", "")
            </td>
            <td class="artist">
                @track.Track.Artist
            </td>
            <td>
                album
            </td>
        </tr>
    }
</table>
<script>
    function changeColor(element) {
            document.getElementById(element).style.color = "black";
    }


    function addVote(element, vote, id) {
        $.ajax({
            url: '@Url.Action("AddVote")',
            method: 'POST',
            data: {vote: vote, id: id},
        }).done(alert("check"))
            changeColor(element)
    }
</script>

