@using BB.BL.Domain.Playlists
@model BB.BL.Domain.Playlists.Playlist

@{
    ViewBag.Title = "View";
}

<div class="title">
    <h1>Playlist</h1> @Html.DisplayFor(model => model.Name)
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumVotesPerUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumVotesPerUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>

<div class="title">
    <h1>Queue</h1>
    @if (Model.PlaylistTracks.Count > 1 | Model.PlaylistTracks.Count == 0)
    {
        <text>@Model.PlaylistTracks.Count tracks in queue</text>
    }
    else
    {
        <text>1 track in queue</text>
    }
</div>

<table id="playlist-tracks">
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th></th>
        <th></th>
        <th>Artist</th>
        <th>Album</th>
    </tr>
    @foreach (PlaylistTrack track in Model.PlaylistTracks)
    {
        <tr class="track">
            <td>
                @track.Id
            </td>
            <td>
                <img class="albumart" src="@track.Track.CoverArtUrl" alt="album art"/>
            </td>
            <td class="tracktitle">
                @track.Track.Title
            </td>
            <td>
                thumbs
            </td>
            <td>
                3:30
            </td>
            <td class="artist">
                @track.Track.Artist
            </td>
            <td>
                album
            </td>
        </tr>
    }
</table>

<a href="#" class="btn btn-right" style="margin-top: 1em;">
    <i class="material-icons">playlist_add</i> add track
</a>

<div id="player">
    <h1>Now playing ▶</h1>
</div>