@model BB.UI.Web.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Change avatar:</dt>
        <dd>
            <input type="file" id="profileImage" name="profileImage" style="display: none" />
            <div>
                <div class="div-image-form" style="">
                    @if (ViewBag.user.ImageUrl != null)
                    {
                        <img class="borderround" id="profile_click" src="~/Content/img/Users/@ViewBag.user.ImageUrl" style="width: 150px;" />
                    }
                    else
                    {
                        <img class="borderround" id="profile_click" src="~/Content/img/avatar.png" style="width: 150px;"/>
                    }
                </div>
            </div>
        </dd>
    </dl>
    <a href='javascript:Save()' class="btn">
        <i class="material-icons"></i> Save changes
    </a>
</div>
@section scripts{
    <script>
    document.getElementById('profile_click').onclick = function () {
        document.getElementById('profileImage').click();
    };
    document.getElementById("profileImage").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("profile_click").src = e.target.result;
        };

        reader.readAsDataURL(this.files[0]);

    };


    function Save() {
        var xhr = new XMLHttpRequest();
        var fd = new FormData();
        fd.append("file", document.getElementById('profileImage').files[0]);
        xhr.open("POST", "/Manage/Save/", true);
        xhr.send(fd);
        xhr.addEventListener("load", function(event) {
            alert(event.target.response);
        }, false);

        @*
        var file = document.getElementById("profileImage").files[0];


        var image = document.getElementById("profileImage");

        $.ajax({
            url: "/Manage/Save",
            type: "POST",
            data: {
                userId: @ViewBag.user.Id, profileImage: file
            }
        });
            *@
    }
</script>
    }