@using BB.BL.Domain.Playlists

@model List<Playlist>
@{
    ViewBag.Title = "Home Page";
}

@section escape_padding {
    <div id="banner">
        <div id="indexBannerContent" class="content">
            <h1>Create and share playlists</h1>
            <h2>With your friends, family and the world.</h2>
            @if (Request.IsAuthenticated)
            {
                <a href="@Url.Action("Portal", "Home")" class="button">My portal</a>
                <a href="@Url.Action("Create", "Playlist")" class="button">Create a playlist</a>
            }
            else
            {
                <a href="@Url.Action("Register", "Account")" class="button">Join us</a>
                <div id="findPlaylist" class="button">Find playlist</div>
            }
        </div>
        <video autoplay="true" loop="true">
            <source src="http://maarten.vg/img/Beatbuddy_header.mp4" type="video/mp4"/>
        </video>
    </div>
}

<p id="intro" class="more-margin-bottom">Beatbuddy is a collaborative music platform, that will allow you to create playlists with your friends family and more!</p>

<div class="row">
    <div class="col-md-4 intro-item">
        <i class="material-icons">playlist_add</i>
        <h1>Create a playlist</h1>
        <p>The first step to using BeatBuddy is to create a playlist. Choose a title and description, and add some tracks to get your personal party going.</p>
    </div>
    <div class="col-md-4 intro-item"><i class="material-icons">people</i>
        <h1>Invite friends</h1>
        <p>Share your playlist with your friends and invite them to join. Registered people (beatbuddies, if you will) can add tracks to the playlist too, and contribute to your musical awesomeness!</p>
    </div>
    <div class="col-md-4 intro-item">
        <i class="material-icons">thumbs_up_down</i>
        <h1>Vote along!</h1>
        <p>Your (and your friends') vote will determine which track will get played next. This way everyone is happy with the music selection!</p>
    </div>
</div>

<div class="title more-margin-top">
    <h1>About</h1> BeatBuddy
</div>
<p class="more-margin-bottom">BeatBuddy is created by a youthful bunch of coders from Antwerp, as a school project. This is us:</p>
<div class="row more-margin-bottom">
    <div class="about-user">
        <img class="round" src="~/Content/img/ignace.jpg"/>
        Ignace Maes
    </div>
    <div class="about-user">
        <img class="round" src="~/Content/img/maarten.jpg"/>
        Maarten Van Giel
    </div>
    <div class="about-user">
        <img class="round" src="~/Content/img/matthias.jpg"/>
        Matthias Heylen
    </div>
    <div class="about-user">
        <img class="round" src="~/Content/img/jonah.jpg"/>
        Jonah Jordan
    </div>
    <div class="about-user">
        <img class="round" src="~/Content/img/kelly.jpg"/>
        Kelly Metdepenningen
    </div>
    <div class="about-user">
        <img class="round" src="~/Content/img/lennart.jpg"/>
        Lennart Boeckx
    </div>
</div>

@section scripts{
    <script>
        $('#explore').click(function() {
            $('html, body').animate({ scrollTop: $('#intro').offset().top - 50 }, 'slow');
        });
        $('#findPlaylist').click(function () {
            $('#indexBannerContent').hide();
            $('#banner').addClass('content');
            $('#banner').append('<div class="content" style="text-align:center"><h1>Enter the key</h1></br><input type="text" id="keyField" class="custom-input" style="width:247px"></div>');
            $("#keyField").keypress(function (e) {
                if (e.which == 13) {
                    var key = $('#keyField').val();
                    $.ajax({
                        url: '@Url.Action("Keycode","Playlist")',
                        method: 'POST',
                        data: {key:key}
                    })
                .done(
                function (data) {
                    window.location.href = '@Url.Action("View","Playlist")' + '?key=' + data;
                }
                )
                .fail(function () {
                    notie.alert(3, "Key does not exist!", 2.5);
                });
                }
            });

        });
        

    </script>
}