@using BB.BL.Domain.Organisations
@using BB.BL.Domain.Playlists
@using BB.UI.Web.MVC.Controllers.Utils
@using BB.UI.Web.MVC.Models

@{
    ViewBag.Title = "Portal";
}

@section PortalPageStyle{
    <link href="@Url.Content("~/Content/Portal.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/dropit.css")" rel="stylesheet" type="text/css" />
}


@section escape_padding {
    <div class="loggedin-banner" >
        <div class="banner-content">
            <h1 style="color:black">Welcome, @ViewBag.Name</h1>
            <h2 style="margin-bottom:15px">Want to join a playlist?</h2>
            <input type="text" id="keyFieldPortal" class="custom-input" style="width:247px;" value="Enter playlist key" />
            <input type="submit" value="join" class="btn btn-join" id="join"/>
        </div>
    </div>
}

<div id="myModal" class="modal">
    <div class="modal-content" style="width: 620px; height: 530px;">
        <a href="#close" title="Close" class="close">X</a>
        <div class="modal-body" style="margin-left: 60px; width: 100%">
            @Html.Partial("~/Views/Organisations/Create.cshtml", new OrganisationViewModel())
        </div>
    </div>
</div>
<div id="playlistModal" class="modal">
    <div class="modal-content" style="width: 850px; height: 625px;">
        <a href="#close" title="Close" class="close">X</a>
        <div class="modal-body" style="margin-left: 60px; width: 100%">
            @Html.Partial("~/Views/Playlist/Create.cshtml", new PlaylistViewModel())
        </div>
    </div>
</div>
<div id="editPlaylistModal" class="modal">
    <div class="modal-content" style="width: 850px; height: 530px;">
        <a href="#close" title="Close" class="close">X</a>
        <div class="modal-body" id="editPlaylistModal-body" style="margin-left: 60px; width: 100%">
            
        </div>
    </div>
</div>
<section>
    <div class="title">
        <h1>My Organisations</h1>
        <div id="organisationCount" style="display: inline;">@ViewBag.MyOrganisations.Count</div>
        <ul class="menu btn-right">
            <li>
                <a href="" style="text-decoration: none"><i class="material-icons">apps</i></a>
                <ul>
                    <li style="cursor: pointer"><a href="#myModal">Create organisation</a></li>
                    <li style="cursor: pointer"><a href="#searchOrganisationbtn">Search organisation</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="container row" id="myOrganisations">
        @foreach (Organisation organisation in ViewBag.MyOrganisations)
        {
            
            <div class="col-md-4 col-xs-12 organisation-wrapper" >
                @{
                    var organisationSource = "https://unsplash.com/photos/P8kVtyU32I0/download";
                    if (organisation.BannerUrl != null)
                    {
                        organisationSource = FileHelper.GetImagePath("OrganisationsImgPath", organisation.BannerUrl);
                    }
                }
                <a href="@Url.Action("Details", "Organisations", new {id = organisation.Id})">
                    <div style="background-image: url('@organisationSource')" class="organisation-banner">&nbsp;</div>

                    <h3>@organisation.Name</h3>
                </a>
                    <div style="display: inline-block; float: right;margin: 0; margin-top: 0.6em; margin-bottom: 0.2em;">
                        <ul class="menu">
                            <li>
                                <a href="#"><i class="material-icons" style="color: black">settings</i></a>
                                <ul>
                                    <li style="cursor: pointer"><a onclick="updateOrganisation(@organisation.Id)">Edit</a></li>
                                    <li style="cursor: pointer"><a onclick="deleteOrganisation(@organisation.Id)">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>@organisation.Playlists.Count playlists</div>
</div>
            
         }
        @if (ViewBag.MyOrganisations.Count == 0)
        {
            <p style="padding-left: 15px">You are not a member of any organisation... </p>
        }

        
    </div>
    <div class="clearfix">&nbsp;</div>
    <div id="searchOrganisationbtn" class="modal">
        <div class="modal-content">
            <a href="#close" id="close-modal" title="Close" class="close">X</a>
            <div class="modal-body" style="height: 100%; width: 100%">
                @{
                    Html.RenderPartial("SearchOrganisation");
                }
            </div>
        </div>
    </div>
</section>


<section id="myplaylists">
        @{
            Html.RenderPartial("MyPlaylists");
        }
</section>

<section>
    <div class="title">
        <h1>Playlists</h1>
        you might like
    </div>

    <div class="container row">
        @foreach (Playlist playlist in ViewBag.RecommendedPlaylists)
        {
            <a href="@Url.Action("View", "Playlist", new {key = playlist.Key})">
                <div class="col-md-4 col-xs-12 organisation-wrapper">
                    @{
                        var playlistSource = "/Content/img/playlistavatar.png";
                        if (playlist.ImageUrl != null)
                        {
                            playlistSource = FileHelper.GetImagePath("PlaylistImgPath", playlist.ImageUrl);
                        }
                    }
                    <img src="@playlistSource" alt="playlist image" class="playlist-image"/>

                    <h3>@playlist.Name</h3>

                    <div>@playlist.PlaylistTracks.ToList().FindAll(p => p.PlayedAt == null).Count tracks in queue</div>
                    <div class="clear-playlist">&nbsp;</div>
                </div>
            </a>
        }
    </div>
    <div class="clearfix">&nbsp;</div>
</section>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('.menu').dropit();
        });

        function deletePlaylist(platlistId) {
            $.ajax({
                url: '@Url.Action("Delete", "Playlist")',
                method: 'POST',
                data: { id: platlistId }
            }).done(function() {
                notie.alert(1, 'Playlist successfull deleted', 2.5);
                location.reload();
            }).fail(function() {
                notie.alert(3, 'Failed to delete playlist', 2.5);
            });
        }

        function updatePlaylist(playlistId) {
            $('#editPlaylistModal-body').load("/Playlist/Edit/" + playlistId);
            window.location.href = '#editPlaylistModal';
        }

        function deleteOrganisation(organisationId) {
            $.ajax({
                url: '@Url.Action("Delete", "Organisations")',
                method: 'POST',
                data: { id: organisationId }
            }).done(function() {
                notie.alert(1, 'Organisation successfull deleted', 2.5);
                $("#myOrganisations").load(location.href + " #myOrganisations");
                $("#organisationCount").load(location.href + " #organisationCount");

            }).fail(function() {
                notie.alert(3, 'Failed to delete organisation', 2.5);
            });
        }

        function updateOrganisation(organisationId) {
            $('#editPlaylistModal-body').load("/Playlist/Edit/" + playlistId);
            window.location.href = '#editPlaylistModal';
        }

        var markupOrganisation = '<li class="organisation" data-id="${Id}">' +
         '<img class="thumbnail" src="/Content/img/Organisations/${BannerUrl}"/>' +
         '<span class="name">${Name}</span>' +
         '</li>';
 
        $.template("organisationTemplate", markupOrganisation);

        $.ajaxSetup({
            beforeSend: function() {
                $("#loadingOrganisation").show();
            },
            complete: function() {
                $("#loadingOrganisation").hide();
            }
        });
        $("#loadingOrganisation").hide();

        function fetchQueryResultsOrganisation() {
            $.ajax('@Url.Action("SearchOrganisation")/?q=' + $('#searchOrganisation').val())
                .done(function (result) {
                    $("#resultsOrganisation").empty();
                    $.tmpl("organisationTemplate", result).appendTo("#resultsOrganisation");
                    $("#resultsOrganisation li").on("click", function() {
                        lookUpOrganisation($(this).attr('data-id'));
                    });
                })
                .fail(function(data) {
                    alert(data);
                });
        }


        function lookUpOrganisation(id) {
            window.location.href = '/Organisations/Details/' + id;
        }

        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        var debouncedFetchOrganisation = debounce(function() {
            fetchQueryResultsOrganisation();
        }, 500);

        $("#searchOrganisation").on('keydown', function() {
            debouncedFetchOrganisation();
        });

        $('#keyFieldPortal').click(function() {
            $('#keyFieldPortal').val('');
        });

        var goToPlaylist = function() {

        }


        $("#keyFieldPortal").keypress(function(e) {
            if (e.which == 13) {
                var key = $('#keyFieldPortal').val();
                $.ajax({
                        url: '@Url.Action("Keycode", "Playlist")',
                        method: 'POST',
                        data: { key: key }
                    })
                    .done(
                        function(data) {
                            window.location.href = '@Url.Action("View", "Playlist")' + '?key=' + data;
                        }
                    )
                    .fail(function() {
                        notie.alert(3, "Key does not exist!", 2.5);
                    });
            }
        });

        $('#join').click(function(e) {
            var key = $('#keyFieldPortal').val();
            $.ajax({
                url: '@Url.Action("Keycode", "Playlist")',
                method: 'POST',
                data: { key: key }
            })
                .done(
                    function (data) {
                        window.location.href = '@Url.Action("View", "Playlist")' + '?key=' + data;
                    }
                )
                .fail(function () {
                    notie.alert(3, "Key does not exist!", 2.5);
                });

        });

    </script>
}
