@using BB.BL.Domain.Organisations
@using BB.BL.Domain.Playlists
@using BB.UI.Web.MVC.Controllers.Utils
@using BB.UI.Web.MVC.Models

@{
    ViewBag.Title = "Portal";
}

@section PortalPageStyle{
    <link href="@Url.Content("~/Content/Portal.min.css")" rel="stylesheet" type="text/css" />
}

@section escape_padding {
    <div class="loggedin-banner">
        <div class="banner-content">
            <h2>Welcome, @ViewBag.Name</h2>
        </div>
    </div>
}
<div id="myModal" class="modal" style="margin-top: -90px">
    <div class="modal-content" style="width: 620px; height: 530px">
        <a href="#close" title="Close" class="close">X</a>
        <div class="modal-body" style="margin-left: 60px; width: 100%">
            @Html.Partial("~/Views/Organisations/Create.cshtml", new OrganisationViewModel())
        </div>
    </div>
</div>
<section>
    <div class="title">
        <h1>My Organisations</h1>
        @ViewBag.MyOrganisations.Count
        <a href="#myModal" class="btn btn-right btn-portal" style="font-size: 0.6em">
            <i class="material-icons">playlist_add</i> add organisation
        </a>
    </div>
    <div class="container row">
        @foreach (Organisation organisation in ViewBag.MyOrganisations)
        {
            <a href="@Url.Action("Details", "Organisations", new { id = organisation.Id })">
            <div class="col-md-4 col-xs-12 organisation-wrapper">
                @{
                    var organisationSource = "https://unsplash.com/photos/P8kVtyU32I0/download";
                    if (organisation.BannerUrl != null)
                    {
                        organisationSource = FileHelper.GetImagePath("OrganisationsImgPath", organisation.BannerUrl);
                    }
                }

                <div style="background-image: url(@organisationSource)" class="organisation-banner">&nbsp;</div>

                <h3>@organisation.Name</h3>
                <div>@organisation.Playlists.Count playlists</div>
            </div>
            </a>
         }
        @if (ViewBag.MyOrganisations.Count == 0)
        {
            <p style="padding-left: 15px">You are not a member of any organisation... <a href="@Url.Action("Create", "Organisations")">Create one</a>!</p>
        }
    </div>
    <div class="clearfix">&nbsp;</div>
</section>

<section>
    <div class="title">
        <h1>My playlists</h1>
        @ViewBag.MyPlaylists.Count
        <a href="" class="btn btn-right btn-portal" style="font-size: 0.6em">
            <i class="material-icons">playlist_add</i> add playlist
        </a>
    </div>

    <div class="container row">
        @foreach (Playlist playlist in ViewBag.MyPlaylists)
        {
            <a href="@Url.Action("View", "Playlist", new { id = playlist.Id })">
                <div class="col-md-4 col-xs-12 organisation-wrapper">
                    @{
                        var playlistSource = "/Content/img/playlistavatar.png";
                        if (playlist.ImageUrl != null)
                        {
                            playlistSource = FileHelper.GetImagePath("PlaylistImgPath", playlist.ImageUrl);
                        }
                    }
                    <img src="@playlistSource" alt="playlist image" class="playlist-image" />

                    <h3>@playlist.Name</h3>

                    <div>@playlist.PlaylistTracks.ToList().FindAll(p => p.PlayedAt == null).Count tracks in queue</div>
                    <div class="clear-playlist">&nbsp;</div>
                </div>
            </a>
         }
        @if (ViewBag.MyPlaylists.Count == 0)
        {
            <p style="padding-left: 15px">You do not have any playlists yet... <a href="@Url.Action("Create", "Playlist")">Create one</a>!</p>
        }
    </div>
    <div class="clearfix">&nbsp;</div>
</section>

<section>
    <div class="title">
        <h1>Playlists</h1>
        you might like
    </div>

    <div class="container row">
        @foreach (Playlist playlist in ViewBag.RecommendedPlaylists)
        {
            <a href="@Url.Action("View", "Playlist", new { id = playlist.Id })">
                <div class="col-md-4 col-xs-12 organisation-wrapper">
                    @{
                        var playlistSource = "/Content/img/playlistavatar.png";
                        if (playlist.ImageUrl != null)
                        {
                            playlistSource = FileHelper.GetImagePath("PlaylistImgPath", playlist.ImageUrl);
                        }
                    }
                    <img src="@playlistSource" alt="playlist image" class="playlist-image" />

                    <h3>@playlist.Name</h3>

                    <div>@playlist.PlaylistTracks.ToList().FindAll(p => p.PlayedAt == null).Count tracks in queue</div>
                    <div class="clear-playlist">&nbsp;</div>
                </div>
            </a>
        }
    </div>
    <div class="clearfix">&nbsp;</div>
</section>