@model BB.UI.Web.MVC.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<div class="title more-margin-top">
    <h1>Register</h1> One more question
</div>


@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        We only ask you to give an original nickname to use BeatBuddy.
        Be Original!
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.NickName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NickName, new { @class = "custom-input-organisations" })
            @Html.ValidationMessageFor(m => m.NickName, "", new { @class = "custom-validation" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn" value="Start your musical adventure" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
