@using BB.UI.Web.MVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="center-block">
    <img src="~/Content/img/logo_header.png" alt="BeatBuddy logo" />
</div>
<div class="title">
    <h3>Sign in to your account</h3>
</div>

<div class="center-block">
    @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {enctype="multipart/form-data", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        
            <div class="center-block">
                @Html.TextBoxFor(m => m.Email, new { @class = "custom-input", placeholder = Html.DisplayNameFor(m => m.Email) })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="center-block">
                @Html.PasswordFor(m => m.Password, new { @class = "custom-input", placeholder = Html.DisplayNameFor(m => m.Password) })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="center-block">
                <input type="submit" value="Login" style="width: 75%; height: 3em; margin-top: 1em" class="btn btn-default"/>
            </div>
            <p></p>
        <div class="center-block">
            <input type="button" value="Register" onclick="window.location='/Account/Register'" style="width: 75%; height: 3em" class="btn btn-default"/>
        </div>

       
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }

    @*<div>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}