@model BB.UI.Web.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section escape_padding {
    <div id="playlistbanner" style="background-image: url('/Content/img/registerbanner.jpg');">
        <div class="content">
            <h1>Your musical friendship starts here.</h1>
            <h2>Register here, yes it's all free.</h2>
            
        </div>
        
    </div>
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form", enctype= "multipart/form-data"  }))
{
    @Html.AntiForgeryToken()

    //@Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-md-7" id="custom-inputform-registration">
        <div class="col-md-10 container-form">
            <input type="file" id="profileImage" name="profileImage" style="display: none" />
            <div>
                <div class="center-block div-image-form" style="">
                    <img class="borderround image-form" id="profile_click" src="~/Content/img/avatar.png" />
                </div>
            </div>

            <div class="col-md-6 column-left-form">
                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "custom-input", @style = "padding: 10px" })
                       
                    </div>
                </div>

                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "custom-input", @style = "padding: 10px" })
                        
                    </div>
                </div>
                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "custom-input", @style = "padding: 10px" })


                    </div>
                </div>
            </div>
            <div class="col-md-6 column-right-form">
                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.NickName, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.NickName, new { @class = "custom-input", @style = "padding: 10px" })
                    </div>
                </div>

                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "custom-input", @style = "padding: 10px" })
                    </div>
                </div>
                <div>
                    <div class="form-groups">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        <br/>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "custom-validation" })
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "custom-input", @style = "padding: 10px" })
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-default pull-right create" value="Register as a new user" />
            </div>
        </div>
    </div>

}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    document.getElementById('profile_click').onclick = function () {
        document.getElementById('profileImage').click();
    };
    document.getElementById("profileImage").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("profile_click").src = e.target.result;
        };

        reader.readAsDataURL(this.files[0]);
    };
</script>
