<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BeatBuddy</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <ul class="nav container">
            <li>@Html.ActionLink("BeatBuddy", "Index", "Home")</li>
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Team D</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>