@using BB.BL.Domain.Playlists
@using BB.UI.Web.MVC.Models
@using BB.BL.Domain.Users
@using BB.BL.Domain.Organisations
@model OrganisationViewWithPlaylist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


    <div class="title" style="background-color: black; width: 100%;">
        @if (Model.BannerUrl != null)
        {
            <img src="~/Content/img/Organisations/@Model.BannerUrl" style="display: block; margin-left: auto; margin-right: auto; height: 250px;" />
        }
        else
        {
            <img src="~/Content/img/playlist.png" style="display: block; margin-left: auto; margin-right: auto; height: 250px;" />
        }

    </div>

    <div> 
        <h1>@Model.Name</h1>
        <hr />
        <p>Organiser: @Model.Organiser.FirstName @Model.Organiser.LastName</p>
        <p>Co-organisers: </p>
        <div class="row more-margin-bottom">
            @foreach (User user in Model.CoOrganiser)
            {
                <div class="co-organiser">
                    <img class="round" src="~/Content/img/Users/@user.ImageUrl" title="@user.FirstName @user.LastName" />
                </div>
            }

        </div>    

    </div>
    @if (User.Identity.Name.Equals(Model.Organiser.Email))
    {
        <div>
            <a href='javascript:AddOrganiser()' class="btn btn-left" style="margin-top: 1em;">
                <i class="material-icons">playlist_add</i> Add co-organiser
            </a>
            <!--<button id="AddOrganiser" onclick="AddOrganisor()">Add a co-organiser</button>-->
            <input type="text" id="email"/>
        </div>
    }
<div class="title">
    <h1>Playlists</h1>
    <table id="playlists">
        <tr>
            <th></th>
            <th></th>
            <th>Name playlist</th>
            <th>Active</th>
            <th></th>
            <th>Description</th>
            <th>tracks</th>
            <th></th>
        </tr>
        @foreach (Playlist playlist in Model.Playlists)
        {
            <tr class="track">
                <td>
                    
                </td>
                <td>
                    <img class="playlistart" src="~/Content/img/Playlists/@Model.ImageUrl" alt="playlist art" style="width: 50px; height: 50px;" />
                </td>
                <td class="tracktitle">
                    @playlist.Name
                </td>
                <td>
                    @if (playlist.Active == true)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    
                </td>
                <td class="artist">
                    @playlist.Description
                </td>
                <td>
                    @playlist.PlaylistTracks.Count()
                </td>
                <td>
                    @Html.ActionLink("View Playlist", "View", "Playlist", new { id = playlist.Id},null)
                </td>
                
            </tr>
        }
    </table>
</div>
@if (Model.Organiser.Email.Equals(User.Identity.Name))
{
    <div>
        <a href='javascript:AddPlaylist()' class="btn btn-right" style="margin-top: 1em;">
            <i class="material-icons">playlist_add</i> add playlist
        </a>
    </div>
}
else
{
    foreach (User user in Model.CoOrganiser)
    {
        if (user.Email.Equals(User.Identity.Name))
        {
            <div>
                <a href='javascript:AddPlaylist()' class="btn btn-right" style="margin-top: 1em;">
                    <i class="material-icons">playlist_add</i> add playlist
                </a>
            </div>
            
        }
    }
}

    @section scripts{
        <script>
            function AddPlaylist(){
                window.location.href = '@Url.Action("Create", "Playlist")';
            }
        </script>
        <script>
            function AddOrganisor() {

                var email = document.getElementById("email").value;

                $.ajax({
                    url: "/Organisations/AddCoOrganiser",
                    type: "POST",
                    data: {
                        organisation: @Model.Id, mail: email
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        alert("Email kon niet gevonden worden");
                    }

                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
        </script>
    }
