@model BB.UI.Web.MVC.Models.OrganisationViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">
    <h1>Organisations</h1> Details
</div>

<div>
    <h4>OrganisationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorScheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorScheme)
        </dd>

    </dl>
</div>
<div>
    <input type="button" value="Add a co-organiser" />
    @Html.TextBox("EmailCo");
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
