@using BB.BL.Domain.Playlists
@using BB.UI.Web.MVC.Models
@model OrganisationViewWithPlaylist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    

    <div class="title">
        <h1>Organisation</h1> 
    </div>

    <div>
        <h4>@Model.Name</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.BannerUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BannerUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ColorScheme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ColorScheme)
            </dd>

        </dl>
    </div>
    @if (User.Identity.Name.Equals(ViewBag.emailOrganiser))
    {
        <div>
            <button id="AddOrganiser" onclick="AddOrganisor()">Add a co-organiser</button>
            <input type="text" id="email"/>
        </div>
    }
<div class="title">
    <h1>Playlists</h1>
    <table id="playlists">
        <tr>
            <th></th>
            <th></th>
            <th>Name playlist</th>
            <th>Active</th>
            <th></th>
            <th>Description</th>
            <th>tracks</th>
            <th></th>
        </tr>
        @foreach (Playlist playlist in Model.Playlists)
        {
            <tr class="track">
                <td>
                    
                </td>
                <td>
                    <img class="playlistart" src="@playlist.ImageUrl" alt="playlist art" />
                </td>
                <td class="tracktitle">
                    @playlist.Name
                </td>
                <td>
                    @if (playlist.Active == true)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    
                </td>
                <td class="artist">
                    @playlist.Description
                </td>
                <td>
                    @playlist.PlaylistTracks.Count()
                </td>
                <td>
                    @Html.ActionLink("View Playlist", "View", "Playlist", new { id = playlist.Id},null)
                </td>
                
            </tr>
        }
    </table>
</div>

    @section scripts{
        <script>
            function AddOrganisor() {

                var email = document.getElementById("email").value;

                $.ajax({
                    url: "/Organisations/AddCoOrganiser",
                    type: "POST",
                    data: {
                        organisation: @Model.Id, mail: email
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        alert("Email kon niet gevonden worden");
                    }

                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
        </script>
    }
