@using BB.BL.Domain.Playlists
@using BB.UI.Web.MVC.Models
@using BB.BL.Domain.Users
@using BB.BL.Domain.Organisations
@using BB.UI.Web.MVC.Controllers.Utils
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model OrganisationViewWithPlaylist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

    @{
        var organisationSource = "/Content/img/playlistheader.jpg";
        if (@Model.BannerUrl != null)
        {
            organisationSource = FileHelper.GetImagePath("OrganisationsImgPath", @Model.BannerUrl);
        }
    }
    <div class="title organisation-full-banner" style="background-image: url('@organisationSource');">
        &nbsp;
    </div>

    <div> 
        <h1>@Model.Name</h1>
        @if (ViewBag.Following.Equals("None"))
        {
            <a href='javascript:Follow()' class="btn" style="margin-top: 1em;">
                <i class="material-icons">follow_organisation</i> Follow
            </a>
        } else if(ViewBag.Following.Equals("Following")) {
            <a href='javascript:UnFollow()' class="btn" style="margin-top: 1em;">
                <i class="material-icons">follow_organisation</i> Un follow
            </a>
        }
        else if (ViewBag.Following.Equals("Co-Organiser"))
        {
            <a href='javascript:Leave()' class="btn" style="margin-top: 1em;">
                <i class="material-icons">follow_organisation</i> Leave organisation
            </a>
        }else if (ViewBag.Following.Equals("Organiser"))
        {

        }
        <hr />
        <p>Organiser: @Model.Organiser.FirstName @Model.Organiser.LastName</p>
        <p>Co-organisers: </p>
        <div class="row more-margin-bottom">
            @foreach (User user in Model.CoOrganiser)
            {
                <div class="co-organiser" style="float:left;">
                    @if (user.ImageUrl != null)
                    {
                        <img class="round" src="~/Content/img/Users/@user.ImageUrl" title="@user.FirstName @user.LastName"  />
                    }
                    else
                    {
                        <img class="round" src="~/Content/img/avatar.png" title="@user.FirstName @user.LastName"  />
                    }

                </div>
            }
            </div>
           

    </div>
    @if (User.Identity.Name.Equals(Model.Organiser.Email))
    {
        <div>
            <p>
                <a href='javascript:AddOrganiser()' class="btn" style="margin-top: 1em;">
                    <i class="material-icons">playlist_add</i> Add co-organiser
                </a>
                <input class="custom-input-playlists" type="text" id="email" style="top: .25em" />
            </p>
        </div>
    }
    @using (Html.BeginForm())
    {

    
<div class="title">
    <h1>Playlists</h1> in organisation
</div>

<table id="playlists">
        <tr>
            <th></th>
            <th></th>
            <th>Name playlist</th>
            <th>Active</th>
            <th></th>
            <th>Description</th>
            <th>tracks</th>
            <th></th>
        </tr>
        @foreach (Playlist playlist in Model.Playlists)
        {
            <tr class="track">
            <td></td>
                <td>
                    @if (Model.ImageUrl != null)
                    {
                        <img class="playlistart" src="~/Content/img/Playlists/@Model.ImageUrl" alt="playlist art" style="width: 50px; height: 50px;" />
                    }
                    else
                    {
                        <img class="playlistart" src="~/Content/img/party-dj.png" alt="playlist art" style="width: 50px; height: 50px;" />
                    }

                </td>
                <td class="tracktitle">
                    @playlist.Name
                </td>
                <td>
                    @if (playlist.Active == true)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
            <td></td>
                <td class="artist">
                    @playlist.Description
                </td>
                <td>
                    @playlist.PlaylistTracks.Count()
                </td>
                <td>
                @Html.ActionLink("View Playlist", "View", "Playlist", new { id = playlist.Id }, null)
                </td>
                
            </tr>
        }
    </table>
        <br/>

        <div>
            Page @(Model.Playlists.PageCount < Model.Playlists.PageNumber ? 0 : Model.Playlists.PageNumber) of @Model.Playlists.PageCount
            @Html.PagedListPager(Model.Playlists, page => Url.Action("Details", new { Model.Id, page }))
        </div>

    }
@if (Model.Organiser.Email.Equals(User.Identity.Name))
{
    <div class="add-playlist">
        <a href='javascript:AddPlaylist()' class="btn btn-right" >
            <i class="material-icons">playlist_add</i> add playlist
        </a>
    </div>
}
else
{
    foreach (User user in Model.CoOrganiser)
    {
        if (user.Email.Equals(User.Identity.Name))
        {
            <div class="add-playlist">
                <a href='javascript:AddPlaylist()' class="btn btn-right" >
                    <i class="material-icons">playlist_add</i> add playlist
                </a>
            </div>
            
        }
    }
}

    @section scripts{
        <script>
            function Leave() {
                $.ajax({
                    url: "/Organisations/LeaveOrganisation",
                    type: "POST",
                    data: {
                        organisationId: @Model.Id, email: "@User.Identity.Name"
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        notie.alert(3, "Could not leave this organisation", 3);
                    }
                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
</script>
<script>
            function UnFollow() {
                $.ajax({
                    url: "/Organisations/UnFollowOrganisation",
                    type: "POST",
                    data: {
                        organisationId: @Model.Id, email: "@User.Identity.Name"
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        notie.alert(3, "Could not unfollow this organisation", 3);
                    }
                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
</script>
        <script>
            function Follow() {
                $.ajax({
                    url: "/Organisations/FollowOrganisation",
                    type: "POST",
                    data: {
                        organisationId: @Model.Id, email: "@User.Identity.Name"
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        notie.alert(3, "Could not follow this organisation", 3);
                    }
                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
        </script>
        <script>
            function AddPlaylist(){
                window.location.href = '@Url.Action("Create", "Playlist")';
            }
        </script>
        <script>
            function AddOrganiser() {

                var email = document.getElementById("email").value;

                $.ajax({
                    url: "/Organisations/AddCoOrganiser",
                    type: "POST",
                    data: {
                        organisation: @Model.Id, mail: email
                    },
                    succes: function (e){

                    },
                    error: function (e){
                        notie.alert(3, "email not found or already in organisation", 3);
                    }

                })
                .done(function (){
                    window.location.href = '@Url.Action("Details", new { id = Model.Id})';
                });
            }
        </script>
    }
